<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphel | Nosotros</title>
    <link rel="stylesheet" href="../styles/styles.css ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <header>
            <h1>Diseño <span>Multimedia</span></h1>
            <div class="barra">
                <a href="../index.html" class="menu">INICIO</a>
                <a href="nosotros.html" class="menu"><span>NOSOTROS</span></a>
                <a href="servicios.html" class="menu">SERVICIOS</a>
                <a href="contacto.html" class="menu">CONTACTO</a>
            </div>
        </header>
        <nav>
            <h2>Suscribete a nuestro boletín</h2>
            <div>
                <input type="search" placeholder="Ingrese el Email" class="mail">
                <button class="buttonS">Suscribete</button>
            </div>
        </nav>
        <section class="contenido">
            <div class="contenidoleft">
                <h3>Nosotros</h3>
                <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores assumenda doloremque sit aspernatur quidem veniam quaerat iste doloribus perferendis! Sit quo magni adipisci corrupti minus? Excepturi officiis in assumenda totam?</p>
                <p class="gris">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, in fuga! Tempora eveniet, minus ipsum alias aspernatur provident consequuntur optio sint dignissimos a labore atque nisi pariatur nihil voluptatum voluptates! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero voluptate aliquam officiis cum doloribus tenetur, perferendis consectetur enim repre</p>
                <img src="../assets/images/images/891.jpg" alt="Nosotros" class="usImg">
            </div>            
            <div class="contenidoRigth">
                <h3>Que hacemos</h3>
                <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim perspiciatis quia fugit excepturi est modi dignissimos, ducimus sequi asperiores, delectus voluptates consequuntur dolorem totam, optio itaque minus. Laudantium, nemo iste.</p>
            </div>            
        </section>
        <footer>
            <p id="foot">Página realizada por Shaira Causil &copy;Todos los derechos reservados 2024</p>
        </footer>
    </main>
    
</body>
</html>