*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  body{
    background-color: #f4f4f4;
  }

  header{
    background-color: #24282b;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    border-bottom: #1293d4 4px solid;
    gap:15%;
  }
  .barra{
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .menu{
    color: white;
    text-decoration: solid;
    transition: 0.3s ease-in-out;
    font-size: 16px;
  }
  .href:hover{
    color: #1293d4;
    font-size: 14px;
  }
  .background{
    background: url(../assets/images/images/cabecera.jpg) no-repeat;
    background-size: 140%;
    background-position: 0% 45%;
    height: 300px;
    width: 100%;
    padding: 90px;
  }
  .titulo{
    font-size: 35px;
    color: white;
    margin-bottom: 10px;
  }
  .textoP{
    color: white;
    margin: 0 10vw;
  }
  span{
    color: #1293d4;
  }
  nav{
    background-color: #24282b;
    display: flex;
    justify-content: space-around;
    color: white;
    width: 100%;
    height: 70px;
    padding: 20px;
    gap: 10%;
  }
  .mail{
    border-radius: 0;
    border: 0;
    padding: 5px;
    width: 165px;
  }
  .buttonS{
    padding: 5px;
    width: 70px;
    border-radius: 0;
    border: 0;
    color: white;
    background-color:#e8491d;
  }
  .suscribebutton:hover{
    background-color: #1293d4;
    cursor: pointer;
  }
  .cursos{
    display: flex;
    padding: 15px 20px;
    min-height: 200px;
    justify-content: center;
    gap: 3vw;
  }
  .imgIcons{
    height: 70px;
  }
  .contenido{
    width: 20%;
  }
  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1293d4;
    color: white;
    height: 60px;
  }
  .contenidoC{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 0%;
    gap: 4vw;
    margin: 10px 0;
  }
  .usImg{
    width: 100%;
  }
 
  .gris{
    background-color: #505b63;
    color: white;
    padding: 10px;
    text-align: justify;
  }
  
  p{
    font-size: 16px;
  }
  .texto{
    text-align: justify;
  }
  h1{
    font-size: 26px;
    color: white;
  }
  h2{
    font-size: 22px;
  }
  h3{
    font-size: 20px;
  }

  .ContenidoRigth{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #505b63;
    color: white;
    padding: 10px;
    max-width: 22vw;
    margin-bottom: 17%;
    gap: 10px;
  }
  .formBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 8px;
  }
  .form{
    text-align: left;
    width: 40vw;
    font-size: 12px;
    height: 32px;
    border-radius: 0;
    border: 1px solid #505b63;
  }
  .form2{
    text-align: left;
    width: 40vw;
    font-size: 12px;
    height: 150px;
    border-radius: 0;
    border: 1px solid #505b63;
  }
  .sendForm{
    margin-top: 10px;
    width: 40vw;
    font-size: 12px;
    height: 32px;
    border-radius: 0;
    background-color: #e8491d;
    border: 1px solid #505b63;
    color: white;
  }
  .sendForm:hover{
    background-color: #1293d4;
    cursor: pointer;
  }
  .mapaGoogle{
    width: 100%;
    margin-top: -8vh;
  }
  .rigthTextMap{
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 22vw;
    gap: 10px;
  }
/* servicios*/
  
.block-servicios{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin:1%;
  gap:1rem;
}
.servicios-container {
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto; 
}

.servicios-content {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 40px;
}
.servicio-item {
  background-color: #e6e6e6;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 50px;
  margin: 5px;

}
.servicio-item:last-child {
  border-bottom: none;
}

.servicio-item h4 {
  margin-bottom: 10px;
}

.precio {
  color: #24282b;
  margin-top: 10px;
}

/*nosotros*/

.text-grey-2{
  background-color:#35424a;
  color:#fff;
  padding: 1rem;
  text-align: left;
  height: auto;
  width: 72vw;
  margin:2% auto;
}
.text-grey-3{
  background-color:#35424a;
  color:#fff;
  padding: 1rem;
  text-align: left;
  height: auto;
  width: 50vw;
  margin:5% auto;
  height: 100%;
}
.info{
  display:flex;
  flex-direction: column;
  
  

}
.nosotros-info-container {
  display: flex;
  flex-direction: row;
  margin: 5%;
  gap: 1rem;
  padding: 0 2rem;
 }

 .info-celda {
  flex: 1;
  min-width: 250px;
  max-width: 350px;
  text-align: center;
}

.text-info h3 {
  margin-bottom: 0.5rem;
}
